<nav style="font-size: 2rem; background-color: aqua;">
  <ul style="display: flex; justify-content: end; gap: 1rem; list-style: none; " >
    <li>About</li>
    <li>Contact</li>
    <li>Support</li>
    <li>Logout</li>
  </ul>
</nav>