* {
  margin: 0;
  padding: 0;
  font-family: 'Karma', sans-serif;
  line-height: 1.5em;
}



.header {
  background-color: white;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 30.33%;
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: 20px;
  position: fixed;
}

.container {
  width: fit-content;
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  gap: 10px 10px;
  margin-bottom: 50px;
}

.img{
  width: 300px
}

.img-container {
  width: 300px;
}

.sub-container {
  width: 300px;
}

p, h3 {
  font-family: 'Karma', sans-serif;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

p {
  font-size: 15px;
}

.num-nav {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-bottom: 50px;
}

.num {
  padding: 8px 16px;
  /* float: left; */
  width: auto;
  /* font-size: 20px; */
  text-align: center;
  text-decoration: none;
  color: black;
}

.num:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.num-1 {
  background-color: black;
  color: white;
}

.num-1:hover {
  background-color: grey;
  color: black;
}

.hr {
  /* height: 1px; */
  border-top: 1px solid #d5c9c9;
  /* display: none; */
  width: 70%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.chef{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.i-am {
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

em {
  font-size: 20px;
  display: block;
  text-align: center;
}

.explanation {
  padding-top: 16px;
  margin: 0 auto;
  font-size: 17px;
  width: 65%;
  text-align: center;
  padding-bottom: 100px;
}

.footer-container {
  width: 65vw;
  display: flex;
  margin: 0 auto;
  padding-bottom: 100px;
}

.items {
  width: 33.333%;
}

.last-img-container img {
  width: 70px;
}

.last-img-container {
  /* border: 1px solid #808080; */
  display: flex;
  font-size: 25px;
}

.last-img-container:hover {
  /* border: 1px solid #808080; */
  display: flex;
  background-color: #b6b6b6;
}

.footer h3, 
.footer p {
  text-align: left;
}

.footer p {
  padding-top: 25px;
  padding-right: 25px;
  font-size: 16px;
}

.footer span {
  display: block;
  padding-top: 15px;
}

.blog {
  margin-right: 20px;
}

.blog h3,
.blog p {
  text-align: left
}

.blog p {
  padding: 25px;
}

.blog img {
  width: 60px;
  height: 60px;
  padding-top: 20px;
  padding-left: 20px;
}

.last {
  border-top: 1px solid #ddd8d8
}

.tags h3{
  text-align: left;
  padding-bottom: 20px;
}

.tags span {
  padding: 0 10px;
  display: inline-block;
  color: white;
  background: gray;
  margin-bottom: 20px;
  line-height: 1.5rem;
}

h3 + .words-1 {
  background-color: black;
}