/*
  ===============================
  Grid
  ==============================
*/

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20vw 50vw;
  justify-content: center;
}


/*
  ===============================
  Right Side
  ===============================
*/

.left {
  width: 100%;
  position: sticky;
}

/*
  ===============================
  Header
  ===============================
*/
.header-part img {
  margin-top: 20px;
  width: 25px;
  height: 25px;
}

.header-part {
  display: flex;
  justify-content: space-between;
}

.shop {
  justify-self: flex-end;
}

/*
  ===============================
  Background and stuff
  ===============================
*/ 
.hero {
  padding: 3rem 2rem;
  margin-top: 1rem;
  background-image: url("img/jeans-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 60vh;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.hero h3 {
  font-size: 30px;
}


/*
  =============================
  Photos for sale 
  =============================
*/

.jean-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}

.img-container img {
  width: 100%;
}

/*
  ============================
  Subscription Section
  ============================
*/

.subscribe {
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: black;
  color: white;
}

.subscribe h3 {
  font-size: 50px;
  margin: 3rem 0;
}

.subscribe input {
  width: 100%;
  padding: 7px 7px;
}

.subscribe button {
  margin: 10px 0;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}

/*
  ===============================
  Footer
  ===============================
*/

.contact-container {
  background-color: rgb(243, 240, 240);
  padding: 2.5rem 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.contact h3, 
.contact p {
  text-align: center;
}

.contact input,
.contact button {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px;
}