* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

/*
  ===============================
  Grid
  ==============================
*/

.grid-container {
  width: 70vw;
  display: grid;
  grid-template-columns: 10vw 50vw;
  margin: 0 auto;
}



/*
  ===============================
  Left Side
  ===============================
*/
.left {
  padding-top: 2rem;
}

.left h1 {
  letter-spacing: 0.2em;
  font-size: 24px;
  padding-bottom: 8rem;
}

.left p {
  width: 80%;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 300;
  color:rgb(141, 136, 136);
}

.left p:hover {
  color: black;
  background: rgb(141, 136, 136);
}

.left span {
  display: block;
  padding: 8px 16px;
}

.left span:hover {
  color: black;
  background: rgb(141, 136, 136);
}

.first-span {
  display: block;
  margin-top: 10rem;
}

/*
  ===============================
  Right Side
  ===============================
*/

.right {
  padding-top: 2rem;
}

/*
  ===============================
  Header
  ===============================
*/
.header-part img {
  /* margin-top: 20px; */
  width: 25px;
  height: 25px;
}

.header-part {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.header-part h1{
  font-size: 2rem
}

/*
  ===============================
  Background and stuff
  ===============================
*/ 
.hero {
  padding: 3rem 2rem;
  margin-top: 1rem;
  background-image: url("img/jeans-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 60vh;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.hero h3 {
  padding: 1rem 0;
  font-size: 30px;
}

.hero button {
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  padding: 8px 16px;
}

.hero button:hover {
  color: black;
  background-color: rgb(185, 173, 173);
  cursor: pointer;
}

/*
  =============================
  8 items
  ============================
*/

.items-8{
  padding: 16px 0;
  font-size: 100;
  color:rgb(185, 173, 173)
}

/*
  =============================
  Photos for sale 
  =============================
*/

.jean-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}

.img-container img {
  width: 100%;
}

.title {
  text-transform: capitalize;
  padding: 8px 0;
}

.amount {
  font-weight: bold;
}

/*
  ============================
  Subscription Section
  ============================
*/

.subscribe {
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: black;
  color: white;
}

.subscribe h3 {
  font-size: 50px;
  margin: 3rem 0;
}

.subscribe input {
  width: 90%;
  padding: 7px 7px;
}

.subscribe button {
  margin: 10px 0;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}

/*
  ===============================
  Footer
  ===============================
*/

.contact-container {
  background-color: rgb(243, 240, 240);
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.contact h3, 
.contact p {
  text-align: center;
}

.contact h3 {
  padding-bottom: 1rem;
}

.contact form {
  padding-top: 1rem;
}

.contact input,
.contact button {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px;
}


.contact button {
  width: 93%;
  color: white;
  background-color: black;
}

.contact button:hover {
  background-color: rgb(238, 234, 234);
  border: none;
  color: black;
}

.about {
  text-align: center;
}

.about h3 {
  padding-bottom: 1rem;
}

.about a {
  color: black;
  font-size: 14px;
  line-height: 2em;
}

.store h3 {
  padding-bottom: 1rem;
}

.store p {
  font-size: 14px;
  line-height: 2em;
}

.accept {
  padding-top: 1rem;
}

.w3css {
  width: 100%;
  text-align: center;
  color: white;
  background: black;
}

.w3css p {
  padding: 24px 0;
}

.w3css a {
  color: white;
}

